/* ---------------------------------------------------- */
/* Contact Page Layout */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.contact-page {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: flex-start; 
}

.contact-left {
    flex: 1;
    padding: 20px;
}

.contact-left h2 {
    font-size: 2rem;
    color: #2b4a6f;
}

.contact-left p {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 10px;
}

.contact-right {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.contact-right form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

body.dark-mode .form-group label {
    color: #333;
}


.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-family: 'Lexend', sans-serif; 
}
.form-group textarea {
    height: 150px;
    resize: none;
}

.submit-button {
    padding: 12px 20px;
    background-color: #007BFF; 
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3; 
}

.g-recaptcha {
    margin-bottom: 20px; 
  }

#response-message {
    margin-top: 20px;
    font-size: 1.1rem;
    color: #333;
}

@media screen and (max-width: 768px) {
    .contact-page {
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }

    .contact-left,
    .contact-right {
        padding: 10px;
    }

    .contact-left h2, h3 {
        font-size: 1.5rem;
    }

    .contact-left p, label {
        font-size: 0.85rem;
    }
}
